process {
    withName: 'gwas_plink2_firth' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'gwas_plink2_glm' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'gwas_plink2_firth_PCs' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'gwas_plink2_glm_PCs' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
}