process {
    withName: 'snp_select' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'bed_prepare' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'qc_call_rate' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'qc_maf' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
    withName: 'qc_hwe' {
        clusterOptions = '--rsc p=1:t=4:c=2:m=9142M'
    }
}