process {
    withName: 'MergeChromosomes' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'bed_prepare' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName: 'plot_qc_call_rate_snp' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'qc_maf' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'plot_qc_maf' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'qc_hwe' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'plot_qc_hwe' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'qc_filtering' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
    withName:'clean_data_step1' {
        clusterOptions = '--rsc p=1:t=8:c=4:m=18284M'
    }
}